html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    @include breakpoint('ipad-land') {
        font-size: 60%;
    }
    @include breakpoint('mobile') {
        font-size: 59.5%;
    }
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    font-weight: 400;
    font-family: $primary-font;
    color: $primary-color;
    overflow-x: hidden;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}