/*font family*/

$primary-font: 'Open Sans';

/*color*/

$white: #fff;
$black: #111;
$primary-color: #176FC1;
$secondary-color: #CE0D40;
$tranparent: tranparent;
$tertiary-color: #B0BAC9;
$light-grey: rgba(176, 186, 201, 0.4);
$grey-5: rgba(176, 186, 201, 0.5);
$light-blue: #abcae6;
$grey-2: #fbfbfb;
$dark-grey: #F9F9F9;
$grey-3: #d8d8d8;
$grey-4: #f0f0f0;
$light-red: rgba(203, 13, 64, 0.5);
$img-path: '../images';